input[type=checkbox]:checked+div.col
{
	-webkit-border-bottom-left-radius: 0em;
	border-bottom-left-radius: 0em;
	-webkit-border-bottom-right-radius: 0em;
	border-bottom-right-radius: 0em
}
.col-c
{
	display:none;
}

input[type=checkbox]:checked+div>div.col-icon {
	background-image: url(images/icons-18-white_07.png);
}
input[type=checkbox]+div>div.col-icon {
	background-image: url(images/icons-18-white_13.png);
}