.ulab .uinput
{
	margin-left:3px
}
.uinput input,.uinput textarea
{
	margin:0px;
	border:0px;
	width:100%;
	height:100%;
	-webkit-appearance: none;
	padding: .4em 0;
	line-height: 1.2em;
	background:none;
	text-decoration: none;
	font-size: 1em;
	display:block;
}

input[type="radio"]:checked + div > div.rdi-icon {
	background-color: transparent;
	background-image: url(images/icons-18-white_41.png);
}
input[type=radio]+div>div.rdi-icon {
	background-color: transparent;
	background-image: url(images/icons-18-white_43.png);
}

input[type="radio"]:checked + div.rdi {
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.6);
}

input[type=checkbox]+div>div.che-icon {
	background-color: transparent;
	background-image: url(images/icons-18-white_39.png);
}

input[type=checkbox]:checked+div>div.che-icon {
	background-color: transparent;
	background-image: url(images/icons-18-white_37.png);
}

input[type=checkbox]:checked+div.che {
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.6);
}
.sel select
{
	left:0;
	top:0;
	position:absolute; 
	width:100%;
	height:100%;
	opacity: 0;
}