.res1{
	background-image: url(images/icons-18-white_13.png)!important;
}
.res2
{
	background-image:url('images/t-arrow.png');
}

.res3
{
	background-image:url('images/b-arrow.png');
}
.res4
{
	background-image:url('images/add-icon.png')!important;
}
.res5 {
	background-image: url(images/del.png);
}
.res6{
	background-image: url(images/icon-search-black.png);
}
.res7 {
	background-image: url(images/refresh.png);
}
.res8{
	background-image: url('images/arrow.png');
}

.res9
{
	background-image: url('images/selected.png');
}

.res10
{
	background-image:url('img/appcan.png')!important;
}
.m_res1{
	background-image:url('img/start.png')!important; 
}
.m_res2{
	background-image: url('images/index_title.png');
}
.m_res3{
	background-image: url('images/index_t1.png');
}
.m_res4{
	background-image: url('images/index_t2.png');
}
.m_res5{
	background-image: url('images/index_t3.png');
}
.m_res6{
	background-image: url('images/index_t4.png');
}
.m_res7{
	background-image: url('images/index_t5.png');
}
.m_res8{
	background-image: url('images/index_t6.png');
}
.m_res9{
	background-image: url('images/index_t7.png');
}
.m_res10{
	background-image: url('images/index_t8.png');
}
.m_res11{
	background-image: url('images/index_t9.png');
}
.m_res12{
	background-image: url('images/index_t10.png');
}
.m_res13{
	background-image: url('images/con-bg.png');
}
.m_res14{
	background-image: url('images/index_t.png');
}
.m_res15{
	background-image: url('images/login_1.png');
}
.m_ql{
	background-image: url('images/quanli_1.png');
}
.m_ql2{
	background-image: url('images/quanli_2.png');
}
.m_ql3{
	background-image: url('images/quanli_3.png');
}
.m_ql4{
	background-image: url('images/quanli_4.png');
}
.m_ql5{
	background-image: url('images/quanli_5.png');
}
.m_ql6{
	background-image: url('images/quanli_6.png');
}
.m_q7{
	background-image: url('images/quanli_7.png');
}
.img_fl1{
	background-image: url('images/fenlei1.png');
}
.img_fl2{
	background-image: url('images/fenlei2.png');
}
.img_fl3{
	background-image: url('images/fenlei3.png');
}
.img_fl4{
	background-image: url('images/fenlei4.png');
}
.img_fl5{
	background-image: url('images/fenlei5.png');
}
.img_fl6{
	background-image: url('images/fenlei6.png');
}
.lkm{
	background-image: url('images/likemai_btn1.png');
}
.lkm2{
	background-image: url('images/likemai_btn2.png');
}
.geren{
	background-image: url('images/geren.png');
}
.xiangce{
	background-image: url('images/xiangce.png');
}
.rizhi{
	background-image: url('images/rizhi.png');
}
.haoyou{
	background-image: url('images/haoyou.png');
}
.fenxiang{
	background-image: url('images/fenxiang.png');
}
.jilu{
	background-image: url('images/jilu.png');
}
.xiaoxi{
	background-image: url('images/xiaoxi.png');
}
.shoucang{
	background-image: url('images/shoucang.png');
}
.img-liuyan{
	background-image: url('images/img-liuyan.png');
}
.pl_ding{
	background-image: url('images/pl_ding.png');
}
.pl_tu{
   background-image:url('images/pl_tu.png')
}
.dui{
   background-image:url('images/dui.png')
}
.dianpu{
	background-image: url(images/dianpu.png);
}
.yindao1{
	background-image: url(images/yindao1.png);
}
.yindao2{
	background-image: url(images/yindao2.png);
}
.yindao3{
	background-image: url(images/yindao3.png);
}
.yindao4{
	background-image: url(images/yindao4.png);
}
.tuan_pro{
	background-image: url(images/tuan_pro.png);
}
.new_pro{
	background-image: url(images/new_pro.png);
}
.tn_pro{
	background-image: url(images/tn_bg.png);
}
