<?xml version="1.0" encoding="utf-8" ?>
<widget widgetId="" pid="" appId="11615317" channelCode="0000" version="00.00.0000" viewmode="application" width="320" height="480" sreensize="4.5">
	
	<name>AppCanEngineTest</name>
	<description></description>
	<author email=""> </author>
	<icon src="icon.png" />
	<license href=""></license>
	<content src="index.html" encoding="utf-8" ></content>
	<updateurl></updateurl>
	<logserverip></logserverip> 
	<showmyspace>false</showmyspace>
	<obfuscation>true</obfuscation>
	<bgcolor>#fefefe</bgcolor>
	<orientation>15</orientation>
    <config desc="whiteList" type="AUTHORITY">
        <permission platform="iOS" info="urlSchemeWhiteList">
            <string>wechat</string>
            <string>weixin</string>
            <string>alipay</string>
            <string>alipayshare</string>
            <string>mqq</string>
        </permission>
    </config>
</widget>
