<?xml version="1.0" encoding="utf-8"?>

<widget widgetId="" appId="11352882" channelCode="000" height="480" sreensize="3.5" version="00.00.0002" width="320"> 
  <name>插件整合</name>  
  <description>管理widget应用</description>  
  <author email="3g2win@mail.com">3g2win</author>  
  <icon src="icon.png"/>  
  <license href="http://3g2win.com"/>  
  <content src="index.html" encoding="utf-8"/>  
  <logserverip>192.168.1.28</logserverip>  
  <obfuscation>false</obfuscation>  
  <updateurl>http://192.168.1.28:8080/widget/update</updateurl>  
  <showmyspace>false</showmyspace>  
  <bgcolor>#fefefe</bgcolor>  
  <widgetOne version="[widgetOneVersion]"/>  
  <orientation>15</orientation> 
</widget>
