<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="123456" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0000" viewmode="application" widgetId="" width="320">
	
	<name>publish_case</name>
	<description/>
	<author email=""> </author>
	<icon src="icon.png"/>
	<license href=""/>
	<content encoding="utf-8" src="widget.html"/>
	<updateurl/>
	<logserverip/> 
	<showmyspace>false</showmyspace>
	<obfuscation>false</obfuscation>
	<bgcolor>#fefefe</bgcolor>
	<orientation>15</orientation>
<debug/>
<partobfuscation>false</partobfuscation>
<webapp/>
</widget>
